<% include partials/header %>

<h1>Search For a Movie</h1>

<div class="searchBox">
  <form action="/results" method="GET">
    <input id="searchInput" type="text" name="search" placeholder="Enter keywords">
    <input id="searchButton" type="submit" value="Search">
  </form>
</div>

<% include partials/footer %>
